<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body ng-app='komunitas'>
    <div ng-controller='komunitasController' class="container">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h3>Tambah Relasi Komunitas Masyarakat</h3>
        <a href='index.html'>Lihat Persebaran</a>
        
        <form role="form">
          <div class="form-group">
            <label for="nama">Nama Instansi/Komunitas:</label>
            <input type="text" class="form-control" id="nama" ng-model="nama" ng-focus="clearMessage()" placeholder='Nama komunitas' required>
          </div>
          <div class="form-group">
            <label for="narahubung">Narahubung:</label>
            <input type="text" class="form-control" id="nama_narahubung" ng-model="nama_narahubung" placeholder='Nama narahubung' required>
            <input type="text" class="form-control" style='margin-top : 5px' id="kontak_narahubung"
            ng-model="kontak_narahubung" placeholder='No. Telp / email narahubung' required>
          </div>
          <div class='form-group'>
            <label for="jenis">Jenis Komunitas : </label>
            <select id="jenis" ng-model='jenis'>
              <option ng-repeat="x in listOption" value="{{x.id}}">{{x.value}}</option>
            </select>
          </div>
          <div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="narahubung">Latitude:</label>
                <input type="text" class="form-control" id="latitude" ng-model="latitude" placeholder='Koordinat latitude lokasi komunitas (bisa dicari pada peta di bawah)' readonly required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="narahubung">Longitude:</label>
                <input type="text" class="form-control" id="longitude" ng-model="longitude" placeholder='Koordinat longitude lokasi komunitas (bisa dicari pada peta di bawah' readonly required>
              </div>
            </div>
          </div>
          <div class='container' id='map' style='width:100%;height:300px'>
          </div>
          <div class="form-group">
            <label for="keterangan">Keterangan:</label>
            <input type="textarea" class="form-control" id="keterangan" ng-model="keterangan" rows='5' placeholder='Penjelasan/ringkasan mengenai komunitas' required>
          </div>
          <div>
            <button type="submit" class="btn btn-default col-md-3" ng-click='simpan()'>Simpan</button>
            <div id='message' style='color:#44ff44;font-size:10pt;text-align:right;' hidden>Data komunitas berhasil disimpan</div>
          </div>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
    <!-- Script Related to Form -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="js/submit.js"></script>
    <script src="js/km-relasi.js"></script>
    
  </body>
</html>